html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.image-container {
  display: inline-block;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* clip the excess when child gets bigger than parent */
}

.image-container img {
  display: block;
  transition: transform .4s;
  /* smoother zoom */
}

.image-container:hover img {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.carousel-root {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.carousel.carousel-slider {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
}

.carousel.carousel-slider img {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
}

@media only screen and (min-width: 768px) {
  .carousel.carousel-slider {
    border-radius: 20px !important;
    width: 80% !important;
    height: 32rem !important;
  }
}

.carousel .control-dots {
  display: flex !important;
  justify-content: center !important;
}

@media only screen and (min-width: 768px) {
  .carousel.carousel-slider {
    border-radius: 20px !important;
    width: 80% !important;
    height: 32rem !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .property-image {
    height: 11rem !important;
  }

  .carousel.carousel-slider {
    border-radius: 20px !important;
    width: 80% !important;
    height: 32rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .property-image {
    height: 11rem !important;
  }

  .carousel.carousel-slider {
    border-radius: 20px !important;
    width: 100% !important;
    height: 32rem !important;
  }
}